body {
    display: flex;
    flex-direction: column;
    text-align: center; 
    font-family: Arial;
    background-image: radial-gradient(circle at center, white, #0b585e);        
}

header:nth-child(1) {
    order: 1;
    padding: 20px;
    background-color: white;
}

main:nth-child(2) {
    order: 3;
    background-color: white;
}

.bluecolumn:nth-child(3) {
    order: 2;
    background-color: #17a4b0; 
    
      
}

.postedescription
{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    
    
}

figure {
    margin: -20px;
    padding: 20px;
    background-color: #17a4b0;
}

h1 {
    font-size:30px; 
}

h3 {
    padding-top: 6px;
    padding-bottom: 6px;
    color:#17a4b0;
    background-color: black;
}
h3 strong {
    color:#17a4b0;
}

.blueword{
    font-style: normal;
    color:#17a4b0;  
}

.blueletter {
    margin-top: 140px;
    font-size:50px;
    color:#17a4b0;
}

.blueline {
    margin-bottom: 20px;
    font-style: normal;
    border-bottom:3px solid #17a4b0;
}

.trait_dessus {
    margin-top: -20px;
    width :100%;
    border-top: 5px solid #17a4b0;
    }

main h3 {
    
    background-color: white;
    color:black;
}

.rectanglenoir {
    margin-right: 10px;
    padding-top: 5px;
    width:90px;
    height:230px;
    text-align: center;
    font-size:110%;
    color:#17a4b0;
    background:black;   
}

main ul {
    text-align: left;
}

.description {
    font-size: 20px; 
    font-style: italic;
    color:#17a4b0;
}

figure img { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 2px solid rgb(100, 96, 96);
    border-radius: 50%;
    box-shadow: 2px 2px 10px rgb(100, 96, 96);
}

.apropos p {
    padding-left: 20px;
    padding-right: 20px;
    text-indent: 15px;
    text-align: justify;
}

.formation ul {
    text-align: left;
}
.formation li {
    margin-bottom: 10px;
}

.formation strong {
    font-size: large;
    font-weight: bold;
} 

.italic {
    font-style: italic;
} 

.box {
    display: flex;
    margin-right: 20px;
    justify-content: space-between;
    align-items: center;   
}

.cursor {
    display: flex;
    
}

.rectangle{
    vertical-align: middle;
	width:20px;
	height:10px;
    border: 1px solid black;
    box-shadow: 1px 1px 10px rgb(100, 96, 96);
    background:white;
}

.rectangleblue{
	width:20px;
	height:10px;
    background:#0b585e;
    border: 1px solid black;
    vertical-align: middle;
    box-shadow: 1px 1px 10px rgb(100, 96, 96);
}

.atout li {
    margin-bottom: 10px;
}

section img {
    vertical-align: middle;
    width: 10%;
    margin-bottom: 10px;
    box-shadow: 1px 1px 10px rgb(100, 96, 96);
}

address {
    text-align: left;
    margin-left: 40px;
    color:black;
}

address img {
    box-shadow: none;
}

a { 
    color:black;
}
.bold {
    font-weight: bold;
}

.interet img {
    box-shadow: none;
    width:100%;
}


    
  
  @media (min-width: 768px) {
    
    body {
 
    display: flex;
    flex-flow: row wrap;
    
    }


    header:nth-child(1) {
        display: flex;
        order: -1;
        padding: 20px;
        background-color: white;
}

    figure:nth-child(2){
        order: 1;
        flex:1;
    }
    .titre:nth-child(1) {
        order: 2;
        flex: 2;
    }

    main:nth-child(2) {
        order: 2;
        flex:2;
        
        background-color: white;
    }
    
    
    
    .bluecolumn:nth-child(3) {
        order: 1;
        flex:1;
        display: flex;
        flex-direction: column;
        align-content: space-between;
        background-color: #17a4b0;
        
    }

        .apropos:nth-child(1) {
            order:2;
        }

        .formation:nth-child(2) {
            order:3;
        }

        .atout:nth-child(3) {
            order:4;
        }
        .interet:nth-child(4) {
            order:5;
        }

        .contact:nth-child(5) {
            order:1;
        }

    .rectanglenoir {
        margin-left: 20px; 
        height:130px;
    }

    .experience-professionnelle {
        margin-top: -20px;
    }

    figure {
        margin-right: 60px;
        
    }
    figure img {
        width:60%;
    }

    .interet{
        align-self: flex-end;
    }

    h1, h2, p {
        text-align: left;
    }

    h1 {
        font-size: 60px;
    }
    h2 {
        margin-left: 20px;
    }

    main h3 { 
        background-color: white;
    }

    .description {
        font-size: 30px;
    }
  }

  @media (min-width: 992px) {
    
  }
  @media (min-width: 1200px) {
    
  }