body {
    display: flex;
    margin: 50px;
    font-family: Arial;
    background-image: radial-gradient(circle at center, white, #0b585e);           
}

main:nth-child(1) {
    order: 2;
    flex: 2;
    padding-left:40px;
    background-color: white;
}

.bluecolumn:nth-child(2) {
    order: 1;
    flex: 1;
    background-color: #17a4b0;
}

figure {
    margin: auto;
    width: 85%;
    background-color: #17a4b0;
}

address {
    padding: 20px;
}




.bluecolumn li {
    margin-bottom: 20px;
}

.bluecolumn  ul { 
    list-style-type: none; 
}

a {
    color:black;
}

.formation strong {
    font-size: large;
    font-weight: bold;
} 

.italic {
    font-style: italic;
} 

.bluecolumn h2 {
    background-color: black;
    color:#17a4b0;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
}

.bluecolumn p {
    text-indent: 15px;
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-right: 20px;
    
}

.cursor {
    display: flex;
    
}

.rectangle{
	width:20px;
	height:10px;
    background:white;
    border: 1px solid black;
    vertical-align: middle;
    box-shadow: 1px 1px 10px rgb(100, 96, 96);
}

.rectangleblue{
	width:20px;
	height:10px;
    background:#0b585e;
    border: 1px solid black;
    vertical-align: middle;
    box-shadow: 1px 1px 10px rgb(100, 96, 96);
}



main h1{
    font-size:60px; 
}

.blueword{
    color:#17a4b0;
    font-style: normal;
}
main h2{
    font-size:40px;
    margin-top: -40px;  
}
.blueline {
    border-bottom:3px solid #17a4b0;
    font-style: normal;
    margin-bottom: 20px;
}

.description{
    color:#17a4b0;
    font-style: italic;
    margin-top: -20px; 
    font-size: 20px; 
}

.experience{
    padding-top: 50px;
}
h2 strong {
    color:#17a4b0;
    margin-top: 140px;
    font-size:50px;
}
.trait_dessus {
     border-top: 5px solid #17a4b0;
      width :100%;
      margin-top: -35px;
     }

main ul {
    margin-top: -10px;
    list-style-type: none;
}


.description-experience{
    align-items: center; 
    margin-top: 20px;
}

.rectanglenoir{
    position:relative;
    width:90px;
    height:110px;
    padding-top: 5px;
    background:black;
    color:#17a4b0;
    font-size:110%;
    text-align: center;
    float: left;
    margin-right: 20px;
    
}

.month{
    padding-top: 25px;
}
.description-experience ul{
    margin-left: 100px;
    width:100%; 
    
}

.description-experience li{
    font-style: italic;
}

.description-experience h3{
    
    width:100%;
    
    color:#17a4b0;
    
}

.description-experience strong{
    text-align : right;
    font-weight: bold;
    
    color: black;
}


.cvcode{
    display: flex;
    width: 80%; 
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 10px white;
}

figure img{
    
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    margin-top: 20px;
    box-shadow: 2px 2px 10px rgb(100, 96, 96);
    border: 2px solid rgb(100, 96, 96);

}


div img {
    vertical-align: middle;
    width: 10%;
    box-shadow: 1px 1px 10px rgb(100, 96, 96);
}

address img {
    box-shadow: none;
    margin :5px;
}