body {
    display: flex;
    flex-direction: column;
    text-align: center; 
    font-family: Arial, sans-serif;
    background-image: radial-gradient(circle at center, white, #0b585e); 
           
}

.bluecolumn:nth-child(3) {
    order: 2;
    background-color: #17a4b0;     
}

header:nth-child(1) {
    order: 1;
    padding: 20px;
    background-color: white;
}

main:nth-child(2) {
    order: 3;
    background-color: white;
}

img {
    vertical-align: middle;
    width: 10%;
    margin-bottom: 10px;
    box-shadow: 1px 1px 10px rgb(100, 96, 96);
}

a { 
    color:black;
}

.about p {
    padding-left: 20px;
    padding-right: 20px;
    text-indent: 15px;
    text-align: justify;
}

address {
    text-align: left;
    margin-left: 40px;
    color:black;
}

address img {
    box-shadow: none;
}

.blackrectangle {
    margin-right: 10px;
    padding-top: 5px;
    width:130px;
    height:280px;
    text-align: center;
    font-size:110%;
    color:#17a4b0;
    background:black;   
}

.blueletter {
    margin-top: 140px;
    font-size:50px;
    color:#17a4b0;
}

.blueline {
    margin-bottom: 20px;
    font-style: normal;
    border-bottom:3px solid #17a4b0;
}

.blueword {
    font-style: normal;
    color:#17a4b0;  
}

.bold {
    font-weight: bold;
}

.box {
    display: flex;
    margin-right: 20px;
    justify-content: space-between;
    align-items: center;   
}

.box img {
    width: 10%;  
}

.city {
    display: block; 
    font-style: italic;
}

.cursor {
    display: flex;
}

.description {
    font-size: 20px; 
    font-style: italic;
    color:#17a4b0;
}

figure {
    margin: -20px;
    padding: 20px;
    background-color: #17a4b0;
}

figure img { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 2px solid rgb(100, 96, 96);
    border-radius: 50%;
    box-shadow: 2px 2px 10px rgb(100, 96, 96);
}

h1 {
    font-size:30px; 
}

h3 {
    padding-top: 6px;
    padding-bottom: 6px;
    color:#17a4b0;
    background-color: black;   
}

h3 strong {
    color:#17a4b0;
}

h4 {
    font-size: large;
    font-weight: bold;
} 

.italic {
    font-style: italic;
} 

.leisure img {
    box-shadow: none;
    width:30%;
}
main h3 {
    text-align: left;
    background-color: white;
    color:black;
}

main ul {
    text-align: left;
}

.rectangle{
    vertical-align: middle;
	width:20px;
	height:10px;
    border: 1px solid black;
    box-shadow: 1px 1px 10px rgb(100, 96, 96);
    background:white;
}

.rectangleblue{
	width:20px;
	height:10px;
    background:#0b585e;
    border: 1px solid black;
    vertical-align: middle;
    box-shadow: 1px 1px 10px rgb(100, 96, 96);
}


.skills li {
    margin-bottom: 10px;
}

.training ul {
    text-align: left;
}

.training li {
    margin-bottom: 10px;
}

.underline {
    margin-top: -20px;
    width :100%;
    border-top: 5px solid #17a4b0;
    }

.workdescription {
    display: flex;
    flex-direction: row;
    margin-left: 20px;   
}

@media (min-width:600px) {

    body {
        margin: 50px;
        margin-right: 50px;
        margin-left: 50px;
    }

    address img {    
        width: 10%;   
    }

    .blackrectangle{
        
        width:130px;
    }   

    .leisure img {    
        width: 20%; 
           margin-left: 10px;  
    }

    h1 {
        font-size: 30px;
    }
    h2 {
    margin-left: 40px;
    }

    .personal {
        font-size: 14px;
    }

    .reference img {    
        width: 5%;   
    }
}

@media (min-width:600px) {

    .blackrectangle {
        height:130px;   
    }
}

  
@media (min-width: 900px) {
    
    body {
        display: flex;
        flex-flow: row wrap;
        margin: 50px;
        margin-right: 50px;
        margin-left: 50px;
    }

    .bluecolumn:nth-child(3) {
        order: 1;
        flex:1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: #17a4b0;   
    }
    
    header:nth-child(1) {
        display: flex;
        order: -1;
    }

    main:nth-child(2) {
        order: 2;
        flex:2;
        background-color: white;
    }

    .about:nth-child(1) {
        order:2;
    }

    figure:nth-child(2) {
        order: 1;
        flex:1;   
    }

    .leisure:nth-child(4) {
        order:5;
        margin-top: auto;
        margin-bottom: 20px;
    }

    .personal:nth-child(5) {
        order:1;
    }

    .title:nth-child(1) {
        order: 2;
        flex: 2;
    }

    .training:nth-child(2) {
        order:3;
    }

    .skills:nth-child(3) {
        order:4;
    }

    address img {    
        width: 10%;   
    }
    
    .blackrectangle {
        margin-left: 20px; 
        height:130px;
        
    }

    .bluecolumn section {
        margin-bottom: 150px;
    }

    .description {
        font-size: 30px;
    }

    figure {
        margin-right: 60px;    
    }

    figure img {
        width:70%;  
    }

    .leisure{
        align-self: flex-end;    
    }

    .leisure img {    
        width: 20%; 
        margin-left: 10px;  
    }

    h1,
    h2,
    p {
        text-align: left;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        margin-left: 40px;
    }

    main h3 { 
        background-color: white;
    }

    main ul {
        margin:20px;
    }
    
    .personal{
        font-size: 15px;
    }

    .reference img {    
        width: 5%;   
    }

    .workexperience{
        margin-top: -20px;
    }
    
    @media (min-width: 1800px) {

        header {
            width:120%;
        } 
    }       


  