.bluecolumn {
    background-color: #17a4b0;
    float: left;
    width: 25%;
}

.bluecolumn img{
    vertical-align: middle;
    width: 10%;
} 

.bluecolumn strong{
    font-size: large;
    font-weight: bold;
} 
.bluecolumn h2{
    background-color: black;
    color:#17a4b0;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
}

.bluecolumn p{
    text-indent: 15px;
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
}