li{
    margin-bottom: 20px;
}

ul{
    list-style-type: none; 
}
a {
    color:black;
}

.bluecolumn {
    background-color: #17a4b0;
    float: left;
    width: 25%;
}

.bluecolumn img{
    vertical-align: middle;
    width: 10%;
  
} 



.photoperso{
    text-align: center;
}
.photoperso img{
    width: 50%;
    border-radius: 50%;
    text-align: center;
    margin-top: 20px;
    box-shadow: 2px 2px 10px rgb(100, 96, 96);
   
    border: 2px solid rgb(100, 96, 96);

}

.bluecolumn strong{
    font-size: large;
    font-weight: bold;
} 

.bluecolumn em{
    font-style: italic;
} 
.bluecolumn h2{
    background-color: black;
    color:#17a4b0;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
}

.bluecolumn p{
    text-indent: 15px;
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-right: 20px;
    
}

.cursor {
    display: flex;
    
}

.rectangle{
	width:20px;
	height:10px;
    background:white;
    border: 1px solid black;
    vertical-align: middle;
}

.rectangleblue{
	width:20px;
	height:10px;
    background:#0b585e;
    border: 1px solid black;
    vertical-align: middle;
}

